<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MiConexionSQLite" connectionString="Data Source=C:\Users\DELL\Dropbox\BD_COOPDIASAM\CONJUNTO_2025.db;Version=3;" />
	</connectionStrings>

	<appSettings>
		<!-- Configuración SMTP -->
		<add key="SmtpServidor" value="smtp.gmail.com" />
		<add key="SmtpPuerto" value="587" />
		<add key="SmtpUsuario" value="correomensajeriablacklines@gmail.com" />
		<add key="SmtpContrasena" value="trwp azlx qehm gtby" />
		<add key="SmtpSSL" value="True" />
		<add key="NombreRemitente" value="Administración COOPDIASAM" />
		<add key="CorreoRemitente" value="correomensajeriablacklines@gmail.com" />

		<!-- Configuración del sistema -->
		<add key="NombreConjunto" value="CONJUNTO RESIDENCIAL COOPDIASAM" />
		<add key="VersionAplicacion" value="2025.1" />
		<add key="RutaRecibos" value="C:\COOPDIASAM\Recibos" />
		<add key="RutaBackups" value="C:\COOPDIASAM\Backups" />
		<add key="RutaLogs" value="C:\COOPDIASAM\Logs" />
		<add key="RutaExportaciones" value="C:\COOPDIASAM\Exportaciones" />

		<!-- Configuración de imágenes -->
		<add key="LogoConjunto" value="C:\COOPDIASAM\Images\logo_coopdiasam.png" />
		<add key="FirmaAdministrador" value="C:\COOPDIASAM\Images\firma_administrador.png" />
	</appSettings>
</configuration>